{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/favicon.png' %}">
    <title>AdminBite admin Template - The Ultimate Multipurpose admin template</title>
    <!-- Custom CSS -->
    <link href="{% static 'assets/libs/chartist/dist/chartist.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/extra-libs/c3/c3.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/libs/morris.js/morris.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'dists/css/style.min.css' %}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        {% include 'detailes/header.html' %}
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                {% include 'detailes/navbar.html' %}
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <br>
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->

            <!-- <form method = "post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit">
            </form> -->
            <form method = "post"method = "post">
                {% csrf_token %}
        
          
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header bg-success">
                            <h4 class="mb-0 text-white">Mijozlarni xizmatni yakunlash</h4>
                        </div>
                        <form action="#">
                            <div class="card-body">
                                <h4 class="card-title">Umumiy ma'lumotlar</h4>
                            </div>
                            <hr>
                            <div class="form-body">
                                <div class="card-body">
                                    <div class="row pt-3">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Mijozni tanlang</label>
                                                {{ form.client_name }}
                                                <small class="form-control-feedback"> Mijozni tanlang </small> </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Texnikani tanlang</label>
                                                {{ form.product }}
                                                <small class="form-control-feedback"> Texnikani tanlang </small> </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Texnikaning aybi</label>
                                                {{ form.product_defective }}
                                                <small class="form-control-feedback"> Texnikaning aybi haqida qisqacha </small> </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group has-danger">
                                                <label class="control-label">Texnikani tamirlash</label>
                                                {{ form.product_repaired }}
                                                <small class="form-control-feedback"> tamirlash xaqida qisqacha </small> </div>
                                        </div>
                                        <!--/span-->
                                    </div>                            <div class="row pt-3">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Texnikani ta'mirlanmaslik sababi</label>
                                                 {{form.produtct_not_repaired}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Tashqaridan maxsulot olindimi?</label>
                                                 {{form.kuchadan_tovar}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Skladan mahsulot</label>
                                                 {{form.sklad_item}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Service xizmat narxi</label>
                                                 {{form.clien_service_price}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Service maxsulot narxi</label>
                                                 {{form.cervice_item_price}}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Serviceni yakunlovchi</label>
                                                 {{form.topshiruvchi}}
                                            </div>
                                        </div>
                                        <div class="col-md12">
                                            <div class="form-group">
                                                <labelclass="control-label">Izoh</label>
                                                {{form.coment}}
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                </div>
                                <hr>
                                <div class="card-body">
                                    <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Save</button>
                                    <button type="reset" class="btn btn-dark">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            </form>
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
                All Rights Reserved by AdminBite admin. Designed and Developed by
                <a href="https://ciperedu.uz">CIPHER-EDU</a>.
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- customizer Panel -->
    <!-- ============================================================== -->

    <div class="chat-windows"></div>
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'assets/libs/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- apps -->
    <script src="{% static 'dists/js/app.min.js' %}"></script>
    <script src="{% static 'dists/js/app.init.horizontal-fullwidth.js' %}"></script>
    <script src="{% static 'dists/js/app-style-switcher.horizontal.js' %}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="{% static 'assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js' %}"></script>
    <script src="{% static 'assets/extra-libs/sparkline/sparkline.js' %}"></script>
    <!--Wave Effects -->
    <script src="{% static 'dists/js/waves.js' %}"></script>
    <!--Menu sidebar -->
    <script src="{% static 'dists/js/sidebarmenu.js' %}"></script>
    <!--Custom JavaScript -->
    <script src="{% static 'dists/js/custom.min.js' %}"></script>
    <!--This page JavaScript -->
    <!--chartis chart-->
    <script src="{% static 'assets/libs/chartist/dist/chartist.min.js' %}"></script>
    <script src="{% static 'assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js' %}"></script>
    <!--c3 charts -->
    <script src="{% static 'assets/extra-libs/c3/d3.min.js' %}"></script>
    <script src="{% static 'assets/extra-libs/c3/c3.min.js' %}"></script>
    <!--chartjs -->
    <script src="{% static 'assets/libs/raphael/raphael.min.js' %}"></script>
    <script src="{% static 'assets/libs/morris.js/morris.min.js' %}"></script>

    <script src="{% static 'dists/js/pages/dashboards/dashboard1.js' %}"></script>
</body>

</html>